.banner {
    position: relative;
}

.banner__imagen {
    background-image: url(https://cdn.jsdelivr.net/gh/K3yJey/Fruta-Fruto@main/img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 72px);
}

.banner__titulo {
    position: absolute;
    font-family: var(--pacifico);
    font-style: normal;
    font-size: 81px;
    font-weight: 400;
    color: var(--texto-color-blanco);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.sobreNosotros {
    text-align: center;
    padding: 2.5rem;
}

.sobreNosotros__titulo {
    font-family: var(--pacifico);
    font-size: 51px;
    font-weight: 400;
    color: var(--texto-color-rojo-medio);
}

.sobreNosotros__parrafo {
    font-family: var(--roboto);
    font-size: 20px;
    color: var(--texto-color-gris-medio);
}

.recetas {
    background-color: var(--background-color-anaranjado);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.receta {
    background-color: var(--background-color-gris-claro);
    display: flex;
    flex-direction: column;
    width: calc(25% - 2.9rem);
    border-radius: 5px;
    margin: 2rem;
}

.receta__img {
    height: 180px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.receta__contenido {
    padding: 1rem;
}

.receta__titulo {
    font-family: var(--roboto);
    font-size: 1.2rem;
    margin: 0px;
}

.receta__descripcion {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.receta__boton {
    background-color: var(--background-color-rojo);
    color: var(--texto-color-blanco);
    border: none;
    border-radius: 5px;
    padding: 0.6rem;
    margin: 1rem 0rem 1rem 0rem;
    transition: all 1s ease-in-out;
}

.receta__boton:hover {
    cursor: pointer;
    background-color: #9f1010;
}

.quienes {
    background-color: var(--background-color-gris-claro);
    padding: 2rem 0.5rem 2rem 0.5rem;
    text-align: center;
}

.quienes__titulo {
    font-family: var(--pacifico);
    font-size: 51px;
    font-weight: 400;
    color: var(--texto-color-rojo-medio);
}

.quienes__descripcion {
    font-family: var(--roboto);
    font-size: 25px;
    font-weight: 100;
    color: var(--texto-color-gris-medio);
}

.personas {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

.persona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.persona__imagen {
    display: flex;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.roberta {
    background-image: url(https://cdn.jsdelivr.net/gh/K3yJey/Fruta-Fruto@main/img/personas/roberta.jpg);
}

.marcela {
    background-image: url(https://cdn.jsdelivr.net/gh/K3yJey/Fruta-Fruto@main/img/personas/marcela.jpg);
}

.andreida {
    background-image: url(https://cdn.jsdelivr.net/gh/K3yJey/Fruta-Fruto@main/img/personas/andrea.jpg);
}

.persona__nombre {
    font-family: var(--pacifico);
    font-size: 51px;
    font-weight: 400;
    color: var(--texto-color-rojo-medio);
    padding: 1rem 0rem 1rem 0rem;
}

.persona__funcion {
    font-family: var(--roboto);
    font-size: 20px;
    font-weight: 100;
    color: var(--texto-color-gris-medio);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .banner__imagen {
        height: calc(100vh - 126px);
    }
    
    .banner__titulo {
        font-size: 31px;
    }

    .sobreNosotros {
        padding: 2.5rem 1rem;
    }

    .sobreNosotros__titulo {
        font-size: 21px;
    }

    .sobreNosotros__parrafo {
        font-size: 15px;
    }

    .receta {
        width: 100%;
        margin: 2rem;
    }

    .recetas {
        padding: 2rem;
    }

    .personas {
        flex-direction: column;
    }


    
    .persona__funcion {
        padding-bottom: 3rem;
    }
}