:root {
  --pacifico: "Pacifico";
  --roboto: "Roboto";

  --background-color-gris-claro: #f9f9f9;
  --background-color-anaranjado: #dab997;
  --background-color-rojo: #da2b1f;
  ----background-color-rojo-activo: #9f1010;

  --texto-color-gris-medio: #808080;
  --texto-color-activo: #333;
  --texto-color-blanco: #fff;
  --texto-color-rojo-medio: #da2b1f;
}

body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
ul,
li {
  padding: 0;
  text-decoration: none;
  list-style: none;
}
